{% assign entries = site[include.collection] %}

{% if entries %}
  {% if include.sort_by == 'title' %}
    {% if include.sort_order == 'reverse' %}
      {% assign entries = entries | sort: 'title' | reverse %}
    {% else %}
      {% assign entries = entries | sort: 'title' %}
    {% endif %}
  {% elsif include.sort_by == 'date' %}
    {% if include.sort_order == 'reverse' %}
      {% assign entries = entries | sort: 'date' | reverse %}
    {% else %}
      {% assign entries = entries | sort: 'date' %}
    {% endif %}
  {% endif %}

  {%- for entry in entries -%}
    {% include entry.html %}
  {%- endfor -%}

{% else %}
  <p><i>No entries found for the collection: {{ include.collection }}</i></p>
{% endif %}
