<style>
  .text-muted {
    color: #888888; /* A lighter gray color */
  }

  .responsive-image {
  max-width: 100%; /* Limits image width to the container's width */
  height: auto; /* Maintains aspect ratio */
  }
</style>

<div id="about-video" class="row about-video">
  <div data-aos="fade-up">

    <!-- Image section, positioned above the text -->
    <div class="col-12 text-center video-box align-self-baseline position-relative" data-aos="fade-right" data-aos-delay="100">
      <img src="./img/tappa_logo.png" class="img-responsive" alt="TAPPA logo">
    </div>

    <!-- Text section -->
    <div class="col-12 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
      <p>
        TAPPA stands for <i>Tübingen AI PhD and Postdoc Assembly</i>, a grassroots initiative
        connecting PhD students and Postdocs researching AI in Tübingen.
      </p>
      <p>
        Founded by PhDs and Postdocs from various institutes and graduate schools, TAPPA operates like a student council, aiming to enhance the PhD and Postdoc experience within Tübingen’s AI ecosystem by addressing common concerns, organizing events, and more.
      </p>
      <p>
        Currently, TAPPA members come from institutions such as the University of Tübingen, MPI-IS, the Tübingen AI Center, the Cluster of Excellence, the ELLIS Institute, CLS, and IMPRS-IS. Membership is open to all PhDs and Postdocs in Tübingen’s AI environment—feel free to join us!
      </p>

      <br>
      <b>Goals</b>
      <ul>
        <li>Enhance the PhD and Postdoc experience by addressing common issues.<br>
        <em class="text-muted">e.g., improving onboarding through a joint wiki, advocating for higher salaries.</em></li>

        <li>Organize collaborative events across institutes and PhD programs.<br>
        <em class="text-muted">e.g., pre-conference poster sessions, alumni talk series.</em></li>

        <li>Ensure smooth information flow, especially between representatives and their communities.<br>
        <em class="text-muted">e.g., updates on grad school developments, board meeting highlights.</em></li>

        <li>Promote transparency and community building by involving more people in organization and decision-making processes.<br>
        <em class="text-muted">e.g., participating in faculty recruiting, advocating for a community-wide support structure.</em></li>
      </ul>

      <br>
      <b>Why should you join TAPPA?</b>
      <p>
        TAPPA is open to all PhDs and Postdocs in Tübingen conducting AI research! Joining TAPPA offers opportunities to contribute to your community, meet motivated peers, find collaborators, and gain insights into decision processes across institutes and graduate schools. We hold monthly meetings and look forward to welcoming you!
      </p>
    </div>

  </div>
</div>
