---
layout: page
---

{{ content }}

<!-- <p align="center">
  <iframe
    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FBerlin&showPrint=0&showTitle=0&hl=en&src=ZGE2M2Y5YThkNjBiMjUzODA0MzBkOGY3NWY0MjQ5MWI3ZGE3ODhhM2E1ODE5ZmVjMWJjYmI5Y2U4Yzc1ZDE4NkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%230B8043"
    style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</p> -->

<!-- Upcoming vs. past events -->
<!-- {{site.posts | where_exp: 'post', 'post.date.to_date <= nowDate'}} -->

{% assign nowDateSec="now" | date: "%s" | minus:0 %}
<section id="Upcoming" class="taxonomy-section">
  <h2 class="taxonomy-title">Upcoming</h2>
  <div class="entries-{{ page.entries_layout | default: 'list' }}">
    {% for entry in site.posts %}
    {% assign postDateSec=entry.date | date: "%s" | minus: 0 %}
    {% if nowDateSec < postDateSec %} {% include entry.html %} {% endif %} {% endfor %} </div>
      <a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }}
        &uarr;</a>
</section>
<section id="Past" class="taxonomy-section">
  <h2 class="taxonomy-title">Past</h2>
  <div class="entries-{{ page.entries_layout | default: 'list' }}">
    {% for entry in site.posts %}
    {% assign postDateSec=entry.date | date: "%s" | minus: 0 %}
    {% if nowDateSec > postDateSec %}
    {% include entry.html %}
    {% endif %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }}
    &uarr;</a>
</section>